.card{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #191645;
flex-direction: column;
}

.usi{
    text-align: center;
    padding: 1vmin;
    font-size: 10vmin;
    color: white;background-color: #191645;
    border-bottom: white solid 0.5vmin;
    position: fixed;
    width: 100%;
}

.start{
    display: flex;
    flex-direction: column;
    font-size: 6.5vmin;
    margin-right: 1vmax;
    gap: 0.2vmax;
}

.end{
    display: flex;
    font-size: 6vmin;
}

input{
height: 5vmin; 
width: 20vmin; 
border: #191645 solid 1px;  
font-size: 4vmin;
}

.lods{
    display: flex;
    flex-direction: column;
gap: 1vmin;
}

@media (max-width: 640px) {
    .lods{
        gap: 0.9vmin;
    }
}
.gops{
    display: flex;
}

.cent{
    text-align: center;
    font-size: 8vmin;
    margin-bottom: 0.5vmin;
}

.sopari{
margin-top: 0.4vmin;
margin-bottom: 1vmin;
margin-right: 1.5vmin;
}

button{
    all: unset;
}

.kod{
display: flex;
justify-content: flex-end;
padding-top: 1vmax;
}

.pintos{
    cursor: pointer;
    font-size: 4vmin;
    background-color: #43C6AC;
    color: #191645;
    padding-top: 0.1vmax;
    padding-bottom: 0.1vmax;
    padding-left: 0.4vmax;
    padding-right: 0.4vmax;
    border-radius: 2vmax;
    border: #191645 solid 1px;
}

.pintos:hover{
border: #191645 solid 2px;
}

.realcard{
    background-color: white;
    color: #191645;
    padding: 4vmin;
    width: fit-content;
    height: fit-content;
    border-radius: 2vmax;
}

input:hover{
border: #191645 solid 2px
}

.topbar{
    background-color: #191645;
    padding: 0.5rem;
    display: flex;
    border-radius: 11vmin;
    align-items: center;
    gap: 10vmin;
    
}

.det{
    color: white;
    border: white solid 0.5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.2rem;
}

.det:hover{
    border: white solid 2px;
}

.operator{
    margin-top: 1rem;
    background-color: #191645;
    height: 20rem;
    border-radius: 11vmin;
}


